.auth_success_view .page {
  width: 200px;
  height: 210px;
}
.auth_success_view p {
  width: 230px;
}
.logged_in .controls .sync_promo {
  display: none;
}
.logged_in .tags_view .controls .sync_enabled {
  display: inline-block;
}
.tags_view .controls .sync_enabled {
  display: none;
}
.inline-tag {
  background: #8AAAED;
  color: #FFF;
  border-radius: 3px;
  position: relative;
  display: inline-block;
  padding: 2px 5px;
}

input.new_tag.error {
  color: #FF3D00;
}
.share_tag_view .url {
  background: #EEE;
  padding: 5px 10px;
  border-radius: 3px;
  box-shadow: inset 0 0 5px 1px #DDD;
}
.navigation .available_tags {
  position: absolute;
  top: 100px;
  width: 124px;
}
.navigation .disappearable {
  transition: opacity 0.2s;
  opacity: 1;
}
.dropzone.navigation .disappearable {
  opacity: 0;
}
.menu .tags .new,
.chrome-bootstrap .alert {
  display: none;
}
.available_tags {
  background: #FFF;
}
.available_tags ul.tags li {
  width: 100px;
  margin-bottom: 3px;
  border-radius: 0;
  padding: 8px 0 8px 24px;
  z-index: 2;
}
.available_tags ul.tags li,
.available_tags ul.tags li.over.tagged {
  background: #F0F6FE;
  color: #15C;
}
.available_tags ul.tags li.over,
.available_tags ul.tags li.tagged {
  background: #8AAAED;
  color: #FFF;
}
.available_tags ul.tags li.new_tag {
  font-weight: bold;
}
.mainview .content ul.tags li a.tag {
  font-size: 11px;
}
.mainview .content ul.tags li {
  margin-top: 1px;
  line-height: 12px;
  padding-bottom: 3px;
}

body.new_tags .menu .tags .new {
  display: inline-block;
}
body.new_tags .new {
  color: #FFF;
  background: rgba(189, 64, 51, 0.7);
  border-radius: 2px;
  padding: 1px 4px;
  line-height: 15px;
  margin: 7px 0 0 20px;
}
body.new_tags .alert {
  display: block;
}
body.new_tags .about_tags a {
  text-decoration: underline;
}
body.new_tags .about_tags strong {
  display: block;
  margin-bottom: 10px;
}
.tag_visit_view .tags {
  margin: 0;
}
.tag_visit_view .page {
  width: 600px;
}
.tag_visit_view .tags .delete {
  top: 3px;
  opacity: 1;
}
.tag_visit_view .active_tags_view {
  margin: 5px 0;
}
.tag_visit_view .active_tags_view .no_tags {
  margin: 7px 0 6px;
}
.visits .active_tags .delete {
  display: none;
}
.visits .active_tags .no_tags,
.tag_view .active_tags .no_tags {
  display: none;
}
.extra_help {
  opacity: 0.7;
  font-size: 11px;
}
.tags_list_view .no_results {
  background: #EEE;
  border-radius: 5px;
}

.menu .tags.pulse {
  -webkit-animation: pulse 0.7s infinite alternate;
  padding: 10px 0 10px 10px;
  margin: -10px 0 -10px -10px;
  width: 100px;
  box-shadow: inset 0px 0px 7px -1px #EEE;
  color: #000;
}
body.new_tags .menu .tags.pulse .new {
  display: none;
}
.fade_out {
  -webkit-animation: pulse 1s;
}
.menu .tags.over {
  -webkit-animation: none;
  background-color: #F0F6FE;
}
@-webkit-keyframes pulse {
  0% {
    background-color: #F0F6FE;
  }
  100% {
    background-color: #FFF;
  }
}
.chrome-bootstrap .frame .content {
  overflow-x: visible;
}
.how_to_tag_view .page {
  height: 585px;
  width: 650px;
}
.no_results {
  padding: 10px 15px;
}
.tag_list li {
  position: relative;
  padding-top: 8px;
}
.tag_list li > a {
  background: #EEE;
  border-radius: 3px;
  display: block;
  height: 37px;
}
.tag_list li:hover > a {
  background: #DDD;
}
.tag_list .title {
  width: 50%;
  padding: 10px;
  margin: 0;
  line-height: 16px;
}
.tag_list .details {
  position: absolute;
  top: 10px;
  width: 250px;
}
.favicons {
  opacity: 0.5;
  height: 24px;
  font-size: 0;
}
.favicons li {
  display: inline-block;
  width: 16px;
}
.favicons .favicon {
  width: 16px;
  height: 16px;
}
.intervals {
  margin-top: 0;
}
.number_of_visits {
  line-height: 23px;
  color: #999;
  display: inline-block;
}
.pagination {
  display: inline-block;
  margin: 0
}
.location .match {
  -webkit-text-fill-color: #999;
}
.spinner {
  background: url(/images/spinner.gif);
  width: 33px;
  height: 32px;
}
.small_spinner {
  background: url(/images/small_spinner.gif);
  width: 16px;
  height: 16px;
  margin-top: 4px;
  display: none;
}
.small_spinner.show {
  display: block;
}
.interval header {
  position: relative;
  z-index: 1;
  background: white;
  padding: 15px 0 5px;
  box-shadow: 0px 3px 5px -2px #DDD;
}
.history {
  margin-top: 0;
}

.interval .title {
  margin: 0 0 7px 17px;
}
.version_view li {
  list-style-type: disc;
  margin-left: 17px;
}
.version_view .title {
  width: 340px;
  line-height: 18px;
}
.toggle_grouping:hover .collapse {
  border-left: 6px solid #777;
}
.toggle_grouping:hover .expand {
  border-top: 7px solid #777;
}
.toggle_grouping:hover {
  color: #777;
}
.interval > .visits {
  border-bottom: 1px solid #EEE;
}
.interval header .delete {
  opacity: 1;
  top: 10px;
}
.visit.expanded .visits {
  max-height: 5000px;
  height: auto;
}
.visits .visits {
  height: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all .25s ease-in-out;
}
.visit.expanded .hide_visits {
  display: block;
}
.visit.expanded .show_visits {
  display: none;
}
.visit .hide_visits {
  display: none;
}
.visit .show_visits {
  display: block;
}
.visits li.visit:hover > .drag_handle {
  display: block;
}
.drag_handle {
  z-index: 1;
  width: 10px;
  height: 41px;
  position: absolute;
  top: 2px;
  display: none;
}
.search_view .drag_handle {
  height: 95%;
  top: 2px;
}
.drag_handle:hover {
  cursor: move;
  cursor: -webkit-grab;
  display: block;
}
.visit.dragging .drag_handle {
  display: block;
}
.visit.dragging .drag_handle .line {
  display: none;
}
.visit.dragging .site {
  background-color: #F0F6FE;
  color: #555;
}
.drag_ghost {
  background: #FFF;
  padding: 5px 10px;
  width: 45px;
  border: 2px solid #999;
  border-radius: 3px;
  text-align: center;
  z-index: 0;
  position: absolute;
  top: 0;
}
#coverup {
  position: absolute;
  top: 0;
  z-index: 2;
  background: #FFF;
  width: 70px;
  height:30px;
}

.visit.dragging a.action,
.visit.dragging a.delete {
  display: none;
}
.line {
  width: 1px;
  height: 100%;
  float: left;
  border-left: 1px solid #CCC;
}
.week_view .days .title {
  margin:0 0 3px;
}
.week_view .days * {
  color: #303942;
}
.week_view .days .day {
  margin-bottom: 15px;
  position: relative;
  background-color:#EEE;
  border-radius: 5px;
  height: 50px;
}
.week_view .day.future {
  opacity: 0.6;
}
.week_view .day:hover .bar,
.week_view .day a:focus .bar {
  background-color:#CCC;
}
.week_view .day_view .page {
  width: 766px;
}
.week_view .bar {
  background: #DDD;
  height: 100%;
  min-width:1%;
  position: absolute;
  -webkit-transition:width 0.2s;
  border-radius: 5px;
}
.week_view .bar_container {
  width: 100%;
  height: 100%;
}
.week_view .label {
  position: absolute;
  top: 10px;
  z-index: 1;
}
.day_view .time {
  -webkit-transition: 150ms opacity;
  position: absolute;
  top: 5px;
  opacity: 1;
}
.day_view .visit:hover .time {
  opacity: 0;
}
.day_view .visit:hover .visit .time {
  opacity: 1;
}
.day_view .visit:hover .visit:hover .time {
  opacity: 0;
}

.week_view .spinner,
.search_view .spinner {
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 4px;
  -webkit-transition: opacity .1s ease-in;
}
.week_view .count,
.search_view .count {
  opacity: 0;
  -webkit-transition: opacity .1s ease-in;
}
.week_view.loaded .count,
.search_view.loaded .count {
  opacity: 1;
}
.loaded .spinner {
  opacity: 0;
}
body.chrome-bootstrap .tag_visit_view ul.sites {
  margin: 0;
}
body.chrome-bootstrap .tag_visit_view ul.sites .selected {
  background-color: #8AAAED;
}
body.chrome-bootstrap .tag_visit_view ul.sites .title,
body.chrome-bootstrap .tag_visit_view ul.sites .url,
body.chrome-bootstrap .tag_visit_view ul.sites .selected {
  color: #FFF;
}
body.chrome-bootstrap .tag_visit_view ul.sites .selected .title,
body.chrome-bootstrap .tag_visit_view ul.sites .selected .url {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(90%, #FFF), to(white));
  font-weight: bold;
}
body.chrome-bootstrap .tag_visit_view ul li.site {
  background-repeat: no-repeat;
  padding: 10px 10px 10px 35px;
  background-color: #F0F6FE;
  background-position-y: 10px;
  background-position-x: 10px;
  margin-bottom: 5px;
}
.tag_visit_view .site {
  white-space: nowrap;
  overflow-x: hidden;
}
.tag_visit_view .site .title {
  color: #000;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(90%, #000), to(white));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tag_visit_view .url {
  font-size: 11px;
  margin-top: 3px;
  color: #999;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(90%, #999), to(white));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.visit .description {
  background-repeat: no-repeat;
  padding: 0;
}
.visit dl dt {
  font-size: 100%;
  width: 655px;
}
.visit .location a {
  display: inline;
  color: #999;
  padding-right: 0;
}
.visit .location > .search_domain {
  background: #EEE;
  color: #888;
  padding: 1px 2px;
  border-radius: 3px;
  -webkit-margin-end: 2px;
  display: inline-block;
}
.visit .location {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.chrome-bootstrap .visits .visit .location {
  margin-top: 5px;
}
.visit .location > .search_domain:hover {
  color: #15C;
}
.version_view .page {
  width:500px;
}

.credits_view .translators {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-top: 0;
}
.credits_view .translators li {
  padding:3px 0;
}
.credits_view .translators:first-child {
  -webkit-margin-end: 40px;
}
.credits_view .translators .language {
  display: inline-block;
}
.credits_view .content-area h3 {
  margin-top: 30px;
}
.credits_view .open_source li {
  display: inline;
  -webkit-margin-end: 10px;
}
.mailing_list_view .logo,
.credits_view .logo,
.auth_success_view .logo {
  position: absolute;
  opacity: 0.4;
  top: -50px;
}
.prompt_view .action-area {
  z-index: 1;
  position: relative;
}
.prompt_view.loading button {
  opacity: 0;
}
.prompt_view.loading .spinner {
  opacity: 1;
}
.prompt_view .spinner {
  position: absolute;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  z-index: 0;
}

.prompt_view button {
  -webkit-transition: opacity .2s ease-in;
}
.prompt_view .spinner {
  -webkit-transition: opacity .2s ease-in .2s;
}
.mailing_list_view .page {
  width: 500px;
}
.mailing_list_view p {
  width: 300px;
}
.mailing_list_view #join_mailing_list {
  background: #F0F6FE;
  padding: 5px 10px;
}
.mailing_list_view #join_mailing_list:hover {
  background: #8AAAED;
  color: #FFF;
}
body .hidden {
  display: none;
}

body {
  direction: __MSG_@@bidi_dir__;
}
.chrome-bootstrap header .corner {
  __MSG_@@bidi_start_edge__: auto;
  __MSG_@@bidi_end_edge__: 0px;
}
.week_view .label {
  __MSG_@@bidi_start_edge__: 10px;
}
.week_view .bar {
  __MSG_@@bidi_start_edge__: 0;
}
.chrome-bootstrap .highlightable li .action {
  __MSG_@@bidi_start_edge__: auto;
  __MSG_@@bidi_end_edge__: 32px;
}
.chrome-bootstrap .highlightable.editable .delete {
  __MSG_@@bidi_start_edge__: auto;
  __MSG_@@bidi_end_edge__: 5px;
}
.view .description {
  background-position:__MSG_@@bidi_start_edge__ 0;
  padding-__MSG_@@bidi_start_edge__: 25px;
}
.mailing_list_view .logo,
.credits_view .logo,
.auth_success_view .logo {
  __MSG_@@bidi_end_edge__: -50px;
}
.credits_view .translators .language {
  text-align: __MSG_@@bidi_end_edge__;
  float: __MSG_@@bidi_end_edge__;
}
.visit .location {
  background-image: -webkit-gradient(linear, __MSG_@@bidi_start_edge__ top, __MSG_@@bidi_end_edge__ top, color-stop(82%, #777), to(white));
}
.week_view .spinner,
.search_view .spinner {
  __MSG_@@bidi_start_edge__: 4px;
}
.cancelable .delete {
  __MSG_@@bidi_start_edge__: auto;
  __MSG_@@bidi_end_edge__: 5px;
}
.chrome-bootstrap .pagination li:last-child {
  margin-__MSG_@@bidi_end_edge__: 20px;
}
.available_tags ul.tags li.new_tag {
  padding-__MSG_@@bidi_start_edge__: 10px;
  padding-__MSG_@@bidi_end_edge__: 14px;
}
.tag_mode {
  text-align: __MSG_@@bidi_end_edge__;
  padding-__MSG_@@bidi_end_edge__: 20px;
}
.about_tags .dismiss_instructions {
  __MSG_@@bidi_end_edge__: 8px;
}
.tag_visit_view .tags .delete {
  __MSG_@@bidi_end_edge__: 3px;
}
.controls .share,
.controls .rename,
.controls .how_to_tag {
  margin-__MSG_@@bidi_end_edge__: 15px;
}
.tag_list .details {
  __MSG_@@bidi_end_edge__: 10px;
  text-align: __MSG_@@bidi_end_edge__;
}
.favicons {
  float: __MSG_@@bidi_end_edge__;
}
.favicons li {
  margin-__MSG_@@bidi_end_edge__: 5px;
}
.favicons li:last-child {
  margin-__MSG_@@bidi_end_edge__: 0;
}
.interval header .delete {
  __MSG_@@bidi_end_edge__: 15px;
}
.drag_ghost {
  __MSG_@@bidi_end_edge__: 0;
}
#coverup {
  __MSG_@@bidi_end_edge__: 0;
}
.navigation .available_tags {
  transition: __MSG_@@bidi_start_edge__ 0.2s;
  __MSG_@@bidi_start_edge__: -124px;
}
.dropzone.navigation .available_tags {
  __MSG_@@bidi_start_edge__: 0;
}
.extra_help {
  margin-__MSG_@@bidi_start_edge__: 15px;
}
.drag_handle {
  __MSG_@@bidi_start_edge__: 0;
}
.visit.dragging .drag_handle {
  border-__MSG_@@bidi_start_edge__: 5px solid #8AAAED;
}
.visits li.visit > .site,
.visits li.visit > .sites {
  padding-__MSG_@@bidi_start_edge__: 15px;
}
.day_view .time {
  __MSG_@@bidi_end_edge__: 10px;
}
.chrome-bootstrap .highlightable li .tags {
  float: __MSG_@@bidi_start_edge__;
}
.chrome-bootstrap .highlightable li .tags li:last-child {
  margin-__MSG_@@bidi_end_edge__: 5px;
  margin-__MSG_@@bidi_start_edge__: 0;
}
.available_tags ul.tags li {
  padding-__MSG_@@bidi_start_edge__: 24px;
  padding-__MSG_@@bidi_end_edge__: 0;
}
.small_spinner {
  margin-__MSG_@@bidi_end_edge__: 5px;
}
