.shortcut {
  font-size: 9px;
  color: #888;
  position: absolute;
  right: 5px;
  bottom: 5px;
  margin: 0;
}
.tags {
  margin: 0;
}
.tags li {
  margin: 3px 0 0;
  display: inline-block;
  background: #8AAAED;
  color: #FFF;
  padding: 3px 19px 3px 5px;
  border-radius: 3px;
  position: relative;
}
.tags .delete {
  right: 3px;
  top: 3px;
  opacity: 1;
}
.tags a.tag {
  color: #FFF;
}
.tags a:hover {
  text-decoration: underline;
}
.links {
  background: #EEE;
  margin: 0;
}
.links li:first-child {
  border-top: 1px solid #BBB;
}
.links li {
  border-top: 1px solid #DDD;
}
.links a {
  padding:10px;
  font-size: 13px;
  display: block;
  color: #555;
}
.links a:hover {
  background: #F0F6FE;
}
.no_tags {
  margin: 10px 0 0;
}
form {
  margin-top: 10px;
}
body {
  width: 350px;
}
.chrome-bootstrap h1 {
  color: #000;
  font-size: 13px;
  margin: 0;
  font-weight: bold;
  white-space: nowrap;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(90%, #000), to(white));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
input[type=text] {
  width: 225px;
}
.url {
  font-size: 11px;
  padding-bottom: 5px;
  color: #999;
  white-space: nowrap;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(90%, #999), to(white));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.scroll {
  -webkit-transition: all 3s ease;
  position: relative;
}
.header {
  background-repeat: no-repeat;
  padding-left: 25px;
  border-bottom: 1px solid #DDD;
}
.container {
  padding: 10px 10px 20px;
  position: relative;
}
.glow {
  -webkit-animation-name: glow;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 2;
}
@-webkit-keyframes glow {
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
