.shortcut {
  font-size: 9px;
  color: #BBB;
  position: absolute;
  bottom: 5px;
  margin: 0;
}
.syncing_badge {
  position: absolute;
  font-size: 10px;
  opacity: 0.6;
  top: 122px;
  right: 4px;
}

.app .container .about_tags {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 7px;
}
.container .about_tags .new {
  margin: 0 5px 0 0;
}
.autocomplete_shell {
  border: 1px solid #AAA;
  box-shadow: inset 0px 0px 2px 2px #EEE;
  background: #fafafa;
  border-radius: 2px;
  padding: 3px 3px 0;
  position: relative;
  margin: 8px 0 10px;
}
.input {
  float: right;
  border: none;
  background: none;
}
ul.tags {
  margin: 0;
}
.active_tags,
ul.tags,
.active_tags_view {
  display: inline-block;
}
.active_tags .no_tags {
  display: none;
}
ul.tags li {
  margin-bottom: 3px;
}
.autocomplete {
  position: relative;
}
.autocomplete input.new_tag {
  border: 0;
  min-height: 19px;
  padding: 2px 0;
  background: #fafafa;
  width: 90px;
  margin: 0 0 3px 2px;
}
.autocomplete input.new_tag.error {
  color: #FF3D00;
}
.autocomplete .syncing {
  display: none;
}
body.syncing .autocomplete .syncing {
  background-image: url(/images/syncing.gif);
  width: 15px;
  height: 15px;
  top: 5px;
  right: 5px;
  position: absolute;
  display: block
}
.suggestions {
  position: relative;
}
.suggestions ul {
  z-index: 100;
  position: absolute;
  top: -11px;
  left: 0;
  border: 1px solid #AAA;
  width: 328px;
  margin: 0;
  background: #FFF;
  box-shadow: 0px 2px 6px 1px #CCC;
}
.suggestions li {
  display: none;
}
.suggestions .active {
  display: block;
}
.hide {
  display: none;
}
.suggestions ul li {
  padding: 5px;
  color: #555;
}
.suggestions ul:hover li.selected {
  background: #FFF;
}
.suggestions ul:hover li.selected:hover,
.suggestions ul li.selected,
.suggestions ul li:hover {
  background: #F0F6FE;
}
.active_tags {
  position: relative;
}
.links {
  background: #EEE;
  margin: 0;
}
.links li:first-child {
  border-top: 1px solid #BBB;
}
.links li {
  border-top: 1px solid #DDD;
}
.links a {
  padding:10px;
  font-size: 13px;
  display: block;
  color: #555;
}
.links a:hover,
.links a:focus {
  background: #DDD;
}
.no_tags {
  margin: 10px 0 0;
}
form {
  margin-top: 10px;
}
body {
  width: 350px;
}
.chrome-bootstrap h1 {
  color: #000;
  font-size: 13px;
  margin: 0;
  font-weight: bold;
  white-space: nowrap;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
input[type=text] {
  width: 225px;
}
.url {
  font-size: 11px;
  padding-bottom: 5px;
  color: #999;
  white-space: nowrap;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.scroll {
  -webkit-transition: all 3s ease;
  position: relative;
}
.header {
  background-repeat: no-repeat;
  padding-left: 25px;
  border-bottom: 1px solid #DDD;
}
.container {
  padding: 10px 10px 20px;
  position: relative;
}
.glow {
  -webkit-animation-name: glow;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 2;
}
@-webkit-keyframes glow {
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.shortcut {
  __MSG_@@bidi_end_edge__: 5px;
}
.chrome-bootstrap h1 {
  background-image: -webkit-gradient(linear, __MSG_@@bidi_start_edge__ top, __MSG_@@bidi_end_edge__ top, color-stop(90%, #000), to(white));
}
.url {
  background-image: -webkit-gradient(linear, __MSG_@@bidi_start_edge__ top, __MSG_@@bidi_end_edge__ top, color-stop(90%, #999), to(white));
}
.header {
  padding-__MSG_@@bidi_start_edge__: 25px;
  background-position: top __MSG_@@bidi_start_edge__;
}
