<img class='logo' src='/images/logo.png' />
<h1 class='title'>{{i18n_search_tips_title}}</h1>
<div class='content-area'>
  <p>
    <strong>Regular expression searching is now supported!</strong>
    <br /><br />
    For example, try searching for <a href="#search//^Inbox/">/^Inbox/</a> or <a href="#search//News|Info/">/News|Info/</a>
  </p>
  <p style="margin-top: 20px">
    <strong>Search for visits and downloads</strong>
    <br /><br />
    Searching will automatically look for visits, by page title and url, and downloads, by filename and url.
  </p>
  <p style="margin-top: 20px">
    <strong>Search deeper</strong>
    <br /><br />
    Your last 10,000 visits are used for a fast, initial search. Want to search deeper? Head to the bottom of the last page of results and click the 'Search deeper' button.
  </p>
</div>
<div class='action-area'>
  <a href='mailto:hello@better-history.com' target='_blank'>{{i18n_search_suggestion_link}}</a>
  <div class='action-area-right'>
    <div class='button-strip'>
      <button class='button close'>{{i18n_close_button}}</button>
    </div>
  </div>
</div>
