<div class='frame'>
  <div class='mainview view'></div>
  <div class='navigation'>
    <h1>
      <a href='#/'>
        {{i18n_history_title}}
      </a>
    </h1>
    <div class='available_tags'></div>
    <ul class='menu'>
      <li>
        <a class='tags' href='#tags'>
          {{i18n_tags_link}}
          <span class='new'>New!</span>
          <span class='syncing'></span>
        </a>
      </li>
      <li>
        <a class='devices' href='#devices'>
          {{i18n_devices_link}}
        </a>
      </li>
    </ul>
    <div class='menu menu_view disappearable'></div>
    <ul class='menu disappearable'>
      <li>
        <a class='setting' href='#settings'>
          {{i18n_settings_link}}
        </a>
      </li>
    </ul>
  </div>
</div>
<div id='coverup'></div>
