<header>
  <h1 class='title'>
    {{{title}}}
    <span class='sub_title'>{{formalDate}}</span>
  </h1>
  <div class='corner'>
    <div class='fake_input'>
      <ul class='tags'>
        <li>
          <a href='#' class='tag'>Day</a>
          <a href='#' class='delete remove_filter'></a>
        </li>
      </ul>
      <input class='search' placeholder='{{i18n_search_input_placeholder_text}}' tabindex='1' type='text' data-filter-by='{{filter}}' data-filter='true' />
    </div>
  </div>
  <div class='controls'>
    <div class='spinner'></div>
    <a class='text back_to_week' href='{{weekUrl}}'>
      {{{i18n_back_to_week_link}}}
    </a>
    <div class='spacer'></div>
    <button class='delete_day' disabled='disabled'>
      {{i18n_delete_all_visits_for_filter_button}}
    </button>
  </div>
</header>
<div class='content'></div>
