<header>
  <h1>{{i18n_devices_title}}</h1>
  <div class='corner'>
    <input class='search' placeholder='{{i18n_search_input_placeholder_text}}' tabindex='1' type='text' />
  </div>
</header>
<div class='content'>
  <ul class='devices'>
    <li>
      <i class='icon icon-desktop'></i>
      <div class='summary'>
        <h3>Desktop</h3>
        <ul class='visits highlightable'>
          <li class='visit'>
            <a href='https://www.google.com/search?q=freckle&amp;oq=freckl&amp;aqs=chrome.0.69i59j69i57j0j69i60l3.2091j0j7&amp;sourceid=chrome&amp;es_sm=119&amp;ie=UTF-8' class='site'>
              <dl class='description' style='background-image: url(chrome://favicon/https://www.google.com/search?q=freckle&amp;oq=freckl&amp;aqs=chrome.0.69i59j69i57j0j69i60l3.2091j0j7&amp;sourceid=chrome&amp;es_sm=119&amp;ie=UTF-8)'>
                <dt>freckle - Google Search</dt>
                <dd class='location'>https://www.google.com/search?q=freckle&amp;oq=freckl&amp;aqs=chrome.0.69i59j69i57j0j69i60l3.2091j0j7&amp;sourceid=chrome&amp;es_sm=119&amp;ie=UTF-8</dd>
              </dl>
            </a>
            <a class='search_domain action' href='#search/https://www.google.com/'>More from site</a>
          </li>
          <li class='visit'>
            <a href='https://www.google.com/search?q=freckle&amp;oq=freckl&amp;aqs=chrome.0.69i59j69i57j0j69i60l3.2091j0j7&amp;sourceid=chrome&amp;es_sm=119&amp;ie=UTF-8' class='site'>
              <dl class='description' style='background-image: url(chrome://favicon/https://www.google.com/search?q=freckle&amp;oq=freckl&amp;aqs=chrome.0.69i59j69i57j0j69i60l3.2091j0j7&amp;sourceid=chrome&amp;es_sm=119&amp;ie=UTF-8)'>
                <dt>freckle - Google Search</dt>
                <dd class='location'>https://www.google.com/search?q=freckle&amp;oq=freckl&amp;aqs=chrome.0.69i59j69i57j0j69i60l3.2091j0j7&amp;sourceid=chrome&amp;es_sm=119&amp;ie=UTF-8</dd>
              </dl>
            </a>
            <a class='search_domain action' href='#search/https://www.google.com/'>More from site</a>
          </li>
          <li class='visit'>
            <a href='https://www.google.com/search?q=freckle&amp;oq=freckl&amp;aqs=chrome.0.69i59j69i57j0j69i60l3.2091j0j7&amp;sourceid=chrome&amp;es_sm=119&amp;ie=UTF-8' class='site'>
              <dl class='description' style='background-image: url(chrome://favicon/https://www.google.com/search?q=freckle&amp;oq=freckl&amp;aqs=chrome.0.69i59j69i57j0j69i60l3.2091j0j7&amp;sourceid=chrome&amp;es_sm=119&amp;ie=UTF-8)'>
                <dt>freckle - Google Search</dt>
                <dd class='location'>https://www.google.com/search?q=freckle&amp;oq=freckl&amp;aqs=chrome.0.69i59j69i57j0j69i60l3.2091j0j7&amp;sourceid=chrome&amp;es_sm=119&amp;ie=UTF-8</dd>
              </dl>
            </a>
            <a class='search_domain action' href='#search/https://www.google.com/'>More from site</a>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <i class='icon icon-tablet'></i>
      <div class='summary'>
        <h3>iPad 4</h3>
        <ul class='visits highlightable'>
          <li class='visit'>
            <a href='https://www.google.com/search?q=freckle&amp;oq=freckl&amp;aqs=chrome.0.69i59j69i57j0j69i60l3.2091j0j7&amp;sourceid=chrome&amp;es_sm=119&amp;ie=UTF-8' class='site'>
              <dl class='description' style='background-image: url(chrome://favicon/https://www.google.com/search?q=freckle&amp;oq=freckl&amp;aqs=chrome.0.69i59j69i57j0j69i60l3.2091j0j7&amp;sourceid=chrome&amp;es_sm=119&amp;ie=UTF-8)'>
                <dt>freckle - Google Search</dt>
                <dd class='location'>https://www.google.com/search?q=freckle&amp;oq=freckl&amp;aqs=chrome.0.69i59j69i57j0j69i60l3.2091j0j7&amp;sourceid=chrome&amp;es_sm=119&amp;ie=UTF-8</dd>
              </dl>
            </a>
            <a class='search_domain action' href='#search/https://www.google.com/'>More from site</a>
          </li>
          <li class='visit'>
            <a href='https://www.google.com/search?q=freckle&amp;oq=freckl&amp;aqs=chrome.0.69i59j69i57j0j69i60l3.2091j0j7&amp;sourceid=chrome&amp;es_sm=119&amp;ie=UTF-8' class='site'>
              <dl class='description' style='background-image: url(chrome://favicon/https://www.google.com/search?q=freckle&amp;oq=freckl&amp;aqs=chrome.0.69i59j69i57j0j69i60l3.2091j0j7&amp;sourceid=chrome&amp;es_sm=119&amp;ie=UTF-8)'>
                <dt>freckle - Google Search</dt>
                <dd class='location'>https://www.google.com/search?q=freckle&amp;oq=freckl&amp;aqs=chrome.0.69i59j69i57j0j69i60l3.2091j0j7&amp;sourceid=chrome&amp;es_sm=119&amp;ie=UTF-8</dd>
              </dl>
            </a>
            <a class='search_domain action' href='#search/https://www.google.com/'>More from site</a>
          </li>
          <li class='visit'>
            <a href='https://www.google.com/search?q=freckle&amp;oq=freckl&amp;aqs=chrome.0.69i59j69i57j0j69i60l3.2091j0j7&amp;sourceid=chrome&amp;es_sm=119&amp;ie=UTF-8' class='site'>
              <dl class='description' style='background-image: url(chrome://favicon/https://www.google.com/search?q=freckle&amp;oq=freckl&amp;aqs=chrome.0.69i59j69i57j0j69i60l3.2091j0j7&amp;sourceid=chrome&amp;es_sm=119&amp;ie=UTF-8)'>
                <dt>freckle - Google Search</dt>
                <dd class='location'>https://www.google.com/search?q=freckle&amp;oq=freckl&amp;aqs=chrome.0.69i59j69i57j0j69i60l3.2091j0j7&amp;sourceid=chrome&amp;es_sm=119&amp;ie=UTF-8</dd>
              </dl>
            </a>
            <a class='search_domain action' href='#search/https://www.google.com/'>More from site</a>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <i class='icon icon-mobile'></i>
      <div class='summary'>
        <h3>Nexus 5</h3>
        <ul class='visits highlightable'>
          <li class='visit'>
            <a href='https://www.google.com/search?q=freckle&amp;oq=freckl&amp;aqs=chrome.0.69i59j69i57j0j69i60l3.2091j0j7&amp;sourceid=chrome&amp;es_sm=119&amp;ie=UTF-8' class='site'>
              <dl class='description' style='background-image: url(chrome://favicon/https://www.google.com/search?q=freckle&amp;oq=freckl&amp;aqs=chrome.0.69i59j69i57j0j69i60l3.2091j0j7&amp;sourceid=chrome&amp;es_sm=119&amp;ie=UTF-8)'>
                <dt>freckle - Google Search</dt>
                <dd class='location'>https://www.google.com/search?q=freckle&amp;oq=freckl&amp;aqs=chrome.0.69i59j69i57j0j69i60l3.2091j0j7&amp;sourceid=chrome&amp;es_sm=119&amp;ie=UTF-8</dd>
              </dl>
            </a>
            <a class='search_domain action' href='#search/https://www.google.com/'>More from site</a>
          </li>
          <li class='visit'>
            <a href='https://www.google.com/search?q=freckle&amp;oq=freckl&amp;aqs=chrome.0.69i59j69i57j0j69i60l3.2091j0j7&amp;sourceid=chrome&amp;es_sm=119&amp;ie=UTF-8' class='site'>
              <dl class='description' style='background-image: url(chrome://favicon/https://www.google.com/search?q=freckle&amp;oq=freckl&amp;aqs=chrome.0.69i59j69i57j0j69i60l3.2091j0j7&amp;sourceid=chrome&amp;es_sm=119&amp;ie=UTF-8)'>
                <dt>freckle - Google Search</dt>
                <dd class='location'>https://www.google.com/search?q=freckle&amp;oq=freckl&amp;aqs=chrome.0.69i59j69i57j0j69i60l3.2091j0j7&amp;sourceid=chrome&amp;es_sm=119&amp;ie=UTF-8</dd>
              </dl>
            </a>
            <a class='search_domain action' href='#search/https://www.google.com/'>More from site</a>
          </li>
          <li class='visit'>
            <a href='https://www.google.com/search?q=freckle&amp;oq=freckl&amp;aqs=chrome.0.69i59j69i57j0j69i60l3.2091j0j7&amp;sourceid=chrome&amp;es_sm=119&amp;ie=UTF-8' class='site'>
              <dl class='description' style='background-image: url(chrome://favicon/https://www.google.com/search?q=freckle&amp;oq=freckl&amp;aqs=chrome.0.69i59j69i57j0j69i60l3.2091j0j7&amp;sourceid=chrome&amp;es_sm=119&amp;ie=UTF-8)'>
                <dt>freckle - Google Search</dt>
                <dd class='location'>https://www.google.com/search?q=freckle&amp;oq=freckl&amp;aqs=chrome.0.69i59j69i57j0j69i60l3.2091j0j7&amp;sourceid=chrome&amp;es_sm=119&amp;ie=UTF-8</dd>
              </dl>
            </a>
            <a class='search_domain action' href='#search/https://www.google.com/'>More from site</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
