<header>
  <h1>{{i18n_devices_title}}</h1>
  <div class='corner'>
    <input class='search' placeholder='{{i18n_search_input_placeholder_text}}' tabindex='1' type='text' />
  </div>
</header>
<div class='content'>
  <div class='coming_soon'>
    <div class='overlay'>
      <div class='page'>
        <img class='logo' src='/images/medium_logo.png'>
        <h1 class='title'>Device history coming soon!</h1>
        <div class='content-area'>
          <p>Google is working on letting extensions access device history, but it is not ready yet. When it is ready, you can access device sessions right here!</p>
          <p>
            Join the
            <a href='http://mad.ly/signups/84938/join' target='_blank'>mailing list</a>
            to receive updates about this.
          </p>
          <br /><br />
          <strong>Techincal information</strong>
          <p>The <a href='https://developer.chrome.com/extensions/sessions' target='_blank'>Device/Session extension API</a> is currently only available in the Dev version of Chrome. It needs to make it into the Beta version and then finally to the Stable version before Better History can access it.</p>
        </div>
      </div>
    </div>
  </div>
  <ul class='devices'>
    <li>
      <i class='icon icon-desktop'></i>
      <div class='summary'>
        <span class='pictonic pictonic-brw-chrome'></span>
        <a href='#' class='close_all'>Close all</a>
        <h3>Desktop</h3>
        <span class='chrome_version'>version 32.453.4</span>
        <ul class='visits highlightable'>
          <li class='visit'>
            <a href='https://www.google.com' class='site'>
              <dl class='description' style='background-image: url(chrome://favicon/https://www.google.com)'>
                <dt>Google</dt>
                <dd class='location'>https://www.google.com/</dd>
              </dl>
            </a>
            <a class='search_domain action' href='#search/https://www.google.com/'>More from site</a>
          </li>
          <li class='visit'>
            <a href='https://mail.google.com/mail/u/0/' class='site'>
              <dl class='description' style='background-image: url(chrome://favicon/https://mail.google.com/mail/u/0/)'>
                <dt>Gmail - Inbox</dt>
                <dd class='location'>https://mail.google.com/mail/u/0/</dd>
              </dl>
            </a>
            <a class='search_domain action' href='#search/https://www.google.com/'>More from site</a>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <i class='icon icon-tablet'></i>
      <div class='summary'>
        <span class='pictonic pictonic-os-apple'></span>
        <a href='#' class='close_all'>Close all</a>
        <h3>iPad 4</h3>
        <span class='chrome_version'>version 32.453.4</span>
        <ul class='visits highlightable'>
          <li class='visit'>
            <a href='https://www.facebook.com' class='site'>
              <dl class='description' style='background-image: url(chrome://favicon/https://www.facebook.com)'>
                <dt>Facebook</dt>
                <dd class='location'>https://www.facebook.com</dd>
              </dl>
            </a>
            <a class='search_domain action' href='#search/https://www.google.com/'>More from site</a>
          </li>
          <li class='visit'>
            <a href='https://www.youtube.com' class='site'>
              <dl class='description' style='background-image: url(chrome://favicon/https://www.youtube.com/)'>
                <dt>Youtube</dt>
                <dd class='location'>https://www.youtube.com</dd>
              </dl>
            </a>
            <a class='search_domain action' href='#search/https://www.google.com/'>More from site</a>
          </li>
          <li class='visit'>
            <a href='https://www.yahoo.com' class='site'>
              <dl class='description' style='background-image: url(chrome://favicon/https://www.yahoo.com/)'>
                <dt>Yahoo</dt>
                <dd class='location'>https://www.yahoo.com</dd>
              </dl>
            </a>
            <a class='search_domain action' href='#search/https://www.google.com/'>More from site</a>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <i class='icon icon-mobile'></i>
      <div class='summary'>
        <span class='pictonic pictonic-android'></span>
        <a href='#' class='close_all'>Close all</a>
        <h3>Nexus 5</h3>
        <span class='chrome_version'>version 32.453.4</span>
        <ul class='visits highlightable'>
          <li class='visit'>
            <a href='https://www.wikipedia.org' class='site'>
              <dl class='description' style='background-image: url(chrome://favicon/https://www.wikipedia.org)'>
                <dt>Wikipedia</dt>
                <dd class='location'>https://www.wikipedia.org</dd>
              </dl>
            </a>
            <a class='search_domain action' href='#search/https://www.google.com/'>More from site</a>
          </li>
          <li class='visit'>
            <a href='https://www.twitter.com' class='site'>
              <dl class='description' style='background-image: url(chrome://favicon/https://twitter.com)'>
                <dt>Twitter</dt>
                <dd class='location'>https://www.twitter.com</dd>
              </dl>
            </a>
            <a class='search_domain action' href='#search/https://www.google.com/'>More from site</a>
          </li>
          <li class='visit'>
            <a href='https://www.google.com' class='site'>
              <dl class='description' style='background-image: url(chrome://favicon/https://www.google.com)'>
                <dt>Google</dt>
                <dd class='location'>https://www.google.com/</dd>
              </dl>
            </a>
            <a class='search_domain action' href='#search/https://www.google.com/'>More from site</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
