<img class='logo' src='/images/medium_logo.png' />
<h1 class='title'>{{i18n_mailing_list_title}}</h1>
<div class='content-area'>
  <p>{{i18n_mailing_list_description}}</p>
  <a href='http://mad.ly/signups/84938/join' target='_blank' id='join_mailing_list'>{{i18n_mailing_list_link}}</a>
  <p><i>{{i18n_mailing_list_promise}}</i></p>
</div>
<div class='action-area'>
  <a href='https://chrome.google.com/webstore/detail/better-history/obciceimmggglbmelaidpjlmodcebijb/reviews' target='_blank'>{{i18n_leave_a_review}}</a>
  <div class='action-area-right'>
    <div class='button-strip'>
      <button class='button close'>{{i18n_close_button}}</button>
    </div>
  </div>
</div>
