<ul class='menu'>
  <li>
    <a href='#visits' class='visits'>
      Activity
    </a>
  </li>
  <li>
    <a href='#devices' class='devices'>
      {{i18n_devices_link}}
    </a>
  </li>
  <li>
    <a href='#search' class='search'>
      Search
    </a>
  </li>
</ul>
<ul class='menu tags_menu' style='display: none;'>
  <li>
    <a href='#tags' class='tags'>
      {{i18n_tags_link}}
      <span class='syncing'></span>
    </a>
  </li>
</ul>
<ul class='menu'>
  <li>
    <a class='setting' href='#settings'>
      {{i18n_settings_link}}
    </a>
  </li>
</ul>
