<ul class='menu'>
  <li>
    <a href='#visits'>
      Visits
    </a>
  </li>
  <li>
    <a class='tags' href='#tags'>
      {{i18n_tags_link}}
      <span class='syncing'></span>
    </a>
  </li>
  <li>
    <a class='devices' href='#devices'>
      {{i18n_devices_link}}
    </a>
  </li>
</ul>
<ul class='menu trails'>
  {{#trails}}
    <li>
      <a href='#trails/{{name}}'>
        {{name}}
      </a>
    </li>
  {{/trails}}
  <li>
    <a class='new_trail' href='#trails/new'>
      New trail
    </a>
  </li>
</ul>
<div class='menu menu_view disappearable'></div>
<ul class='menu disappearable'>
  <li>
    <a class='setting' href='#settings'>
      {{i18n_settings_link}}
    </a>
  </li>
</ul>
