<header>
  <h1>Build a new trail</h1>
  <div class='corner'>
    <input class='search' placeholder='{{i18n_search_input_placeholder_text}}' tabindex='1' type='text' />
  </div>
</header>
<div class='content'>
  <div style='text-align: center'>
    <img style='width: 200px; padding-top: 30px' src='/images/trail.png' />
    <div style='width: 500px; margin: auto;'>
      <h2 style='line-height: 25px;'>Your browsing history may appear to be historical in nature, but it's not used in that manner...</h2>
      <h1>It's time to make your history useful.</h1>
      <br />
      <br />
      Get notified when Trails are available by <a href='http://mad.ly/signups/84938/join' target='_blank'>joining the mailing list</a>
    </div>
  </div>
</div>
