<a href='http://www.better-history.com/whats_a_trail' class='whats_a_trail'>What's a trail?</a>
<h1 class='title'>Build a new trail</h1>
<div class='content-area'>
  <br />
  <div>
    <p style='font-size: 13px;'>Create browsing trails for sites you visit. Find the good stuff you saw faster than Google can because <strong>Trails are automatically kept up to date as you browse.</strong></p>

    <div class='trail_match_preview'>
      <div class='about_preview'>
        <input type='text' placeholder='Text in a url or title to match' name='trail-matcher' />
        <button name='add_matcher' style='float: right;'>Add to trail</button>
      </div>
      <div class='matched_visits'></div>
    </div>
  </div>
  <div class='matchers'>
    <div class='no_matchers'>
      No matchers, add some above!
    </div>
  </div>
  <div>
    <h3><label>What's this trail's name?</label></h3>
    <input type='text' placeholder='Enter a name' name='trail-name' />
  </div>
</div>
<div class='action-area'>
  <a href='#' class='cancel'>cancel</a>
  <div class='action-area-right'>
    <div class='button-strip'>
      <button class='build_trail'>Create trail</button>
    </div>
  </div>
</div>
