<header>
  <h1>{{i18n_settings_title}}</h1>
</header>
<div class='content'>
  <div class='settings'>
    <section>
    <h3>{{i18n_syncing_settings_title}}</h3>
      <div class='logged_out'>
        <p>{{{i18n_syncing_settings_login}}}</p>
        <div class='login_spinner small_spinner'></div>
      </div>
      <div class='logged_in'>
        <img class='avatar' src='{{avatar}}' />
        <p class='name'></p>
        <a style='margin-right: 5px;'href='#' class='logout'>Logout</a> |
        <a style='margin-left: 5px;' href='http://www.better-history.com/me'>better-history.com/me</a>
        <div>
          <a href='#' class='manually_sync_local'>{{i18n_manually_sync_local_link}}</a>
        </div>
      </div>
    </section>
    <section>
      <h3>{{i18n_clearing_history_section_title}}</h3>
      <div>
        <button class='clear_history'>{{i18n_clear_history_button}}</button>
      </div>
    </section>
    <section>
      <h3>{{i18n_right_click_options_section_title}}</h3>
      <div class='checkbox'>
        <label>
          <input id='search_by_selection' type='checkbox' />
          <span>{{i18n_search_by_text_selection_label}}</span>
        </label>
      </div>
      <div class='checkbox'>
        <label>
          <input id='search_by_domain' type='checkbox' />
          <span>{{i18n_search_by_domain_label}}</span>
        </label>
      </div>
    </section>
    <section>
      <h3>{{i18n_whats_new_section_title}}</h3>
      <div>
        <div class='row'>
          <a class='modal_link credits' href='#settings/credits'>{{{i18n_credits_link}}}</a>
        </div>
        <div class='row'>
          {{{i18n_permissions_details}}}
        </div>
      </div>
    </section>
    <section>
      <h3>{{i18n_feedback_section_title}}</h3>
      <div>
        {{{i18n_suggestions_bugs_comments}}}
        <br />
        <a style='margin-top: 10px; display: block;' href='mailto:hello@better-history.com'>hello@better-history.com</a>
      </div>
    </section>
    <section>
      <h3>{{i18n_spread_the_word_section_title}}</h3>
      <div>
        <div class='row'>
          <a href='http://mad.ly/signups/84938/join' target='_blank'>{{i18n_mailing_list_link}}</a>
        </div>
        <div class='row'>
          <a href='https://chrome.google.com/webstore/detail/obciceimmggglbmelaidpjlmodcebijb/reviews'>{{i18n_leave_a_review}}</a>
        </div>
        <div class='row'>
          <!-- Place this tag where you want the +1 button to render -->
          <div class='g-plusone' data-annotation='inline' data-href='https://chrome.google.com/webstore/detail/obciceimmggglbmelaidpjlmodcebijb'></div>
        </div>
        <div class='row'>
          <a class='twitter-follow-button' data-lang='{{i18n_twitter_language}}' data-show-count='false' data-width='150px' href='https://twitter.com/better_history'>Follow @better_history</a>
          <a class='twitter-share-button' data-count='horizontal' data-lang='{{i18n_twitter_language}}' data-text='{{i18n_twitter_template}}' data-url='https://chrome.google.com/webstore/detail/obciceimmggglbmelaidpjlmodcebijb' data-via='Better_History' href='https://twitter.com/share'>Tweet</a>
        </div>
      </div>
    </section>
  </div>
</div>
