<img class='logo' src='/images/medium_logo.png' />
<h1 class='title'>{{i18n_sign_up_info_title}}</h1>
<div class='content-area'>
  <p>{{i18n_sign_up_info_description}}</p>
  {{{i18n_sign_up_info_bullets}}}
  <p class='price'>{{i18n_sign_up_info_price}}</p>
</div>
<div class='action-area'>
  <p class='question'>{{i18n_sign_up_info_question}}</p>
  <a href='#' class='cancel'>{{i18n_prompt_cancel_button}}</a>
  <div class='action-area-right'>
    <div class='button-strip'>
      <button class='continue yes'>{{i18n_continue_button}}</button>
    </div>
  </div>
</div>
