<header>
  <h1>{{i18n_tag_title}}</h1>
  <div class='corner'>
    <input class='search' placeholder='{{i18n_search_input_placeholder_text}}' tabindex='1' type='text' />
  </div>
  <div class='controls'>
    <a class='text back_to_tags' href='{{tagsUrl}}'>
      {{{i18n_back_to_tags_link}}}
    </a>
    <div class='spacer'></div>
    <a class='text rename'>
      {{i18n_rename_tag_link}}
    </a>
    <button class='delete_sites'>
      {{i18n_delete_tag}}
    </button>
  </div>
</header>
<div class='content'>
</div>
