<h1 class='title'>Tag visited site</h1>
<div class='content-area'>
  <div class='site' style='background-image: url(chrome://favicon/{{url}})'>
    <div class='title'>{{title}}</div>
    <div class='url'>{{url}}</div>
  </div>
  <div class='active_tags'></div>
  <form id='tag_form'>
    <input id='tag_name' class='tags' type='text' placeholder='Enter a tag name' />
    <button id='add_tag' class='submit'>Tag</button>
  <form>
</div>
<div class='action-area'>
  <div class='action-area-right'>
    <div class='button-strip'>
      <button class='done'>Done</button>
    </div>
  </div>
</div>
