<ul class='visits highlightable editable'>
  {{#sites}}
  <li class='visit tagged' draggable='true' data-url='{{url}}' data-title='{{title}}'>
      {{^readOnly}}
        <div class='drag_handle'>
          <div class='draggable_bumps'><div class='bump_divider'></div></div>
        </div>
      {{/readOnly}}
      <a href='{{url}}' class='site'>
        <dl class='description' style='background-image: url(chrome://favicon/{{url}})'>
          <dt>
            <div class='active_tags'></div>
            {{title}}
          </dt>
          <dd>{{url}}</dd>
        </dl>
      </a>
    </li>
  {{/sites}}
</ul>
{{^sites}}
  <p class='no_results'>{{i18n_no_tagged_sites_found}}</p>
{{/sites}}
