<div class='container'>
  <div class='header' style='background-image: url(chrome://favicon/{{url}})'>
    <h1 class='scroll'>{{title}}</h1>
    <div class='url scroll'>{{url}}</div>
  </div>
  {{^readOnly}}
    <div class='autocomplete'></div>
  {{/readOnly}}
  <p class='shortcut'>{{shortcut}}</p>
</div>
<ul class='links'>
  <li>
    <a id='search_domain' href='chrome://history/#search/{{domain}}'>
      {{i18n_search_domain_history_link}}
    </a>
  </li>
  <li>
    <a id='view_history' href='chrome://history/#today'>
      {{i18n_view_all_history_link}}
    </a>
  </li>
  <li style='position: relative'>
    <a id='explore_tags' href='chrome://history/#tags'>
      {{i18n_explore_tags_link}}
    </a>
    {{#loggedIn}}
      <div class='syncing_badge'>sync <span class='inline-tag'>ON</span></div>
    {{/loggedIn}}
  </li>
</div>
