<div class='container'>
  <div class='header' style='background-image: url(chrome://favicon/{{url}})'>
    <h1 class='scroll'>{{title}}</h1>
    <div class='url scroll'>{{url}}</div>
  </div>
  <div class='autocomplete'></div>
  <p class='shortcut'>{{shortcut}}</p>
</div>
<ul class='links'>
  <li>
    <a id='explore_tags' href='chrome://history/#tags'>Explore tags</a>
  </li>
  <li>
    <a id='search_domain' href='chrome://history/#search/{{domain}}'>Search {{domain}} visits</a>
  </li>
  <li>
    <a id='view_history' href='chrome://history/#today'>View all history</a>
  </li>
</div>
