<p class='alert'>
  <strong>Tagging will be phased out...</strong>
  Tagging in Better History will soon be phased out. This was an experiment of sorts and unfortunately it never caught on as well as I hoped. Tags are now read only and will be removed in a few weeks.
</p>
<ul class='tag_list'>
  {{#tags}}
    <li>
      <a href='#tags/{{name}}'>
        <h3 class='title'>{{name}}</h3>
        <div class='details'>
          <ul class='favicons'>
            {{#sites}}
            <li>
              <div class='favicon' style='background-image: url(chrome://favicon/{{url}})'></div>
            </li>
            {{/sites}}
          </ul>
        </div>
      </a>
    </li>
  {{/tags}}
</ul>
{{^tags}}
  <p class='no_results'>{{i18n_no_tags_found}}</p>
  <p class='extra_help'>{{{i18n_extra_tag_help}}}</p>
{{/tags}}

