<header>
  <h1>{{i18n_collections_title}}</h1>
  <div class='corner'>
    <input class='search' placeholder='{{i18n_search_input_placeholder_text}}' tabindex='1' type='text' />
  </div>
  <div class='controls'>
    <span class='text'>{{i18n_number_of_collections}}</span>
    <div class='spacer'></div>
    <button class='delete_all'>
      {{i18n_delete_all_collections}}
    </button>
  </div>
</header>
<div class='content'>
  <ul class='collections'>
    <li>
      <a href='#tags/recipes'>
        <div class='label'>
          <h3 class='title'>Recipes</h3>
          <ul class='favicons'>
            <li>
              <div class='favicon'></div>
            </li>
            <li>
              <div class='favicon'></div>
            </li>
            <li>
              <div class='favicon'></div>
            </li>
            <li>
              <div class='favicon'></div>
            </li>
            <li>
              <div class='favicon'></div>
            </li>
          </ul>
          <div class='count'>40 visits</div>
        </div>
      </a>
    </li>
    <li>
      <a href='#tags/recipes'>
        <div class='label'>
          <h3 class='title'>Programming</h3>
          <ul class='favicons'>
            <li>
              <div class='favicon'></div>
            </li>
            <li>
              <div class='favicon'></div>
            </li>
            <li>
              <div class='favicon'></div>
            </li>
            <li>
              <div class='favicon'></div>
            </li>
            <li>
              <div class='favicon'></div>
            </li>
          </ul>
          <div class='count'>22 visits</div>
        </div>
      </a>
    </li>
    <li>
      <a href='#tags/recipes'>
        <div class='label'>
          <h3 class='title'>Funny videos</h3>
          <ul class='favicons'>
            <li>
              <div class='favicon'></div>
            </li>
            <li>
              <div class='favicon'></div>
            </li>
            <li>
              <div class='favicon'></div>
            </li>
            <li>
              <div class='favicon'></div>
            </li>
            <li>
              <div class='favicon'></div>
            </li>
          </ul>
          <div class='count'>12 visits</div>
        </div>
      </a>
    </li>
    <li>
      <a href='#tags/recipes'>
        <div class='label'>
          <h3 class='title'>Vacations</h3>
          <ul class='favicons'>
            <li>
              <div class='favicon'></div>
            </li>
            <li>
              <div class='favicon'></div>
            </li>
            <li>
              <div class='favicon'></div>
            </li>
            <li>
              <div class='favicon'></div>
            </li>
            <li>
              <div class='favicon'></div>
            </li>
          </ul>
          <div class='count'>40 visits</div>
        </div>
      </a>
    </li>
    <li>
      <a href='#tags/recipes'>
        <div class='label'>
          <h3 class='title'>Auto</h3>
          <ul class='favicons'>
            <li>
              <div class='favicon'></div>
            </li>
            <li>
              <div class='favicon'></div>
            </li>
            <li>
              <div class='favicon'></div>
            </li>
            <li>
              <div class='favicon'></div>
            </li>
            <li>
              <div class='favicon'></div>
            </li>
          </ul>
          <div class='count'>22 visits</div>
        </div>
      </a>
    </li>
    <li>
      <a href='#tags/recipes'>
        <div class='label'>
          <h3 class='title'>Read later</h3>
          <ul class='favicons'>
            <li>
              <div class='favicon'></div>
            </li>
            <li>
              <div class='favicon'></div>
            </li>
            <li>
              <div class='favicon'></div>
            </li>
            <li>
              <div class='favicon'></div>
            </li>
            <li>
              <div class='favicon'></div>
            </li>
          </ul>
          <div class='count'>12 visits</div>
        </div>
      </a>
    </li>
    <li>
      <a href='#tags/recipes'>
        <div class='label'>
          <h3 class='title'>TV and Movies</h3>
          <ul class='favicons'>
            <li>
              <div class='favicon'></div>
            </li>
            <li>
              <div class='favicon'></div>
            </li>
            <li>
              <div class='favicon'></div>
            </li>
            <li>
              <div class='favicon'></div>
            </li>
            <li>
              <div class='favicon'></div>
            </li>
          </ul>
          <div class='count'>40 visits</div>
        </div>
      </a>
    </li>
    <li>
      <a href='#tags/recipes'>
        <div class='label'>
          <h3 class='title'>Random News</h3>
          <ul class='favicons'>
            <li>
              <div class='favicon'></div>
            </li>
            <li>
              <div class='favicon'></div>
            </li>
            <li>
              <div class='favicon'></div>
            </li>
            <li>
              <div class='favicon'></div>
            </li>
            <li>
              <div class='favicon'></div>
            </li>
          </ul>
          <div class='count'>22 visits</div>
        </div>
      </a>
    </li>
    <li>
      <a href='#tags/recipes'>
        <div class='label'>
          <h3 class='title'>Time Wasters</h3>
          <ul class='favicons'>
            <li>
              <div class='favicon'></div>
            </li>
            <li>
              <div class='favicon'></div>
            </li>
            <li>
              <div class='favicon'></div>
            </li>
            <li>
              <div class='favicon'></div>
            </li>
            <li>
              <div class='favicon'></div>
            </li>
          </ul>
          <div class='count'>12 visits</div>
        </div>
      </a>
    </li>
  </ul>
</div>
