<ol class='pagination next_control control'>
  <li>
    <a href='#' class='next'>
      <div class='arrow'>&laquo;</div>
    </a>
  </li>
</ol>
<ol class='pagination'>
  {{#dates}}
    <li>
      <a class='{{#selected}}selected{{/selected}} date' href='#visits/{{id}}'>
        <strong>{{label}}</strong>
        <span class='date'>{{date}}</span>
      </a>
    </li>
  {{/dates}}
</ol>
<ol class='pagination previous_control control'>
  <li>
    <a href='#' class='previous'>
      <div class='arrow'>&raquo;</div>
    </a>
  </li>
</ol>
