<li class='visit visit_view searched' draggable='true' data-url='{{url}}' data-title='{{title}}'>
  <div class='drag_handle'>
    <div class='draggable_bumps'><div class='bump_divider'></div></div>
  </div>
  <a href='{{url}}' class='site'>
    <dl class='description' style='background-image: url(chrome://favicon/{{url}})'>
      <dt>
        <div class='active_tags'></div>
        {{{title}}}
      </dt>
      <dd class='location'>{{{url}}}</dd>
      <dd class='datetime'></dd>
    </dl>
  </a>
  <a class='delete_visit delete' href='#' data-url='{{url}}' title='{{i18n_prompt_delete_button}}'>{{i18n_prompt_delete_button}}</a>
</li>
