<header>
  <h1>Visits</h1>
  <div class='corner'>
    <input class='search' placeholder='{{i18n_search_input_placeholder_text}}' tabindex='1' type='text' />
  </div>
  <div class='controls'>
    <ol class='pagination'>
      <li>
        <a class='selected'>
          <strong>Today</strong>
          <span class='date'>July 4th</span>
        </a>
      </li>
      <li>
        <a>
          <strong>Yesterday</strong>
          <span class='date'>July 3th</span>
        </a>
      </li>
      <li>
        <a>
          <strong>Thursday</strong>
          <span class='date'>July 2nd</span>
        </a>
      </li>
      <li>
        <a>
          <strong>Wednesday</strong>
          <span class='date'>July 1st</span>
        </a>
      </li>
      <li>
        <a>
          <strong>Tuesday</strong>
          <span class='date'>June 31st</span>
        </a>
      </li>
      <li>
        <a>
          <strong>Monday</strong>
          <span class='date'>June 30th</span>
        </a>
      </li>
      <li>
        <a>
          <strong>Sunday</strong>
          <span class='date'>June 29th</span>
        </a>
      </li>
    </ol>
  </div>
</header>
<div class='content'>
  visits!
</div>
