.search_deeper {
  border-top: 1px solid rgb(238, 238, 238);
}
.search_deeper .wrapper {
  padding: 0 0 200px 42px;
}
.search_deeper .working {
  display: none;
}
.search_deeper.searching .search_controls {
  display: none;
}
.search_deeper.searching .working {
  display: block;
}
.content .controls {
  padding-top: 0;
}
.content .controls .text {
  padding-left: 45px;
}
.visits_content {
  opacity: 1;
  margin-bottom: 300px;
}
.disappear {
  opacity: 0;
}
.chrome-bootstrap .visits_view .content {
  padding-top: 155px;
}

.chrome-bootstrap .visits_view .timeline_view {
  display: flex;
  position: relative;
  width: 100%;
}
.chrome-bootstrap .visits_view .timeline_view ol.pagination a {
  height: 42px;
}

.chrome-bootstrap .visits_view ol.pagination {
  display: flex;
  flex: 1;
}

.chrome-bootstrap .visits_view ol.pagination li {
  flex: 1;
  margin: 0 3px;
}
.chrome-bootstrap .visits_view ol.pagination li a {
  width: auto;
  border-right: 1px solid #e4ecfb;
  border-bottom: 1px solid #e4ecfb;
  transition: background 250ms;
}

.chrome-bootstrap .visits_view ol.pagination a.disabled {
  opacity: 0.2;
  cursor: default;
}
.chrome-bootstrap .visits_view ol.pagination a.disabled:hover {
  background: #F0F6FE;
  color: #15C;
}

.chrome-bootstrap .visits_view .date {
  font-size: 11px;
}
.chrome-bootstrap .visits_view .hours {
  width: 738px;
  margin: -46px 0;
  display: flex;
  position: fixed;
  padding: 10px 0;
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 40%, rgba(255, 255, 255, 0.92));
  z-index: 100;
}

.moon {
  background-image: url(/images/moon.png);
  order: 1;
  background-position: 6px 3px;
  background-size: 18px;
}
.sun {
  background-image: url(/images/sun.png);
  order: 3;
  background-position: 6px 2px;
  background-size: 20px;
}
.moon, .sun {
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
  opacity: 0.6;
  display: flex;
  flex: 1;
}

.chrome-bootstrap .visits_view .hours ol.pagination li {
  margin: 0 2px;
  line-height: 13px;
}
.chrome-bootstrap .visits_view .hours ol.pagination li a {
  font-size: 11px;
  height: 13px;
  border-radius: 20px;
  padding: 5px 0;
}
.chrome-bootstrap .visits_view .hours a {
  background: #FFF;
}

.chrome-bootstrap .visits_view ol.pagination.control a {
  display: table;
  width: 15px;
  padding: 0 5px;
}

.chrome-bootstrap .visits_view ol.pagination.control .arrow {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.chrome-bootstrap .visits_view ol.pagination.control.next_control {
  order: 1;
}
.chrome-bootstrap .visits_view ol.pagination.control.previous_control {
  order: 3;
}
.chrome-bootstrap .visits_view ol.pagination:not(.control) {
  flex: 21 0px;
  order: 2;
}

.chrome-bootstrap .visits_view ol.pagination:not(.control) strong {
  display: block;
  margin-bottom: -10px;
}
.cached {
  top: 112px;
  position: relative;
  padding: 10px;
  background: #fbfbd5;
}
.cached .fresh_search {
  float: right;
}
.fade_out {
  -webkit-animation: pulse 1s;
}
@-webkit-keyframes pulse {
  0% {
    background-color: #F0F6FE;
  }
  100% {
    background-color: #FFF;
  }
}
.chrome-bootstrap .frame .content {
  overflow-x: visible;
}
.no_results {
  padding: 10px 15px;
}
.number_of_visits {
  line-height: 23px;
  color: #999;
  display: inline-block;
}
.pagination {
  display: inline-block;
  margin: 0
}
.location .match {
  -webkit-text-fill-color: #999;
}
.spinner {
  background: url(/images/spinner.gif);
  width: 33px;
  height: 32px;
}
.search_view .spinner {
  background-repeat: no-repeat;
  width: 120px;
  padding-left: 50px;
  padding-top: 8px;
}
.search_view .pagination {
  margin-right: 10px;
}
.small_spinner {
  background: url(/images/small_spinner.gif);
  width: 16px;
  height: 16px;
  margin-top: 4px;
  display: none;
}
.small_spinner.show {
  display: block;
}
.interval header {
  position: relative;
  z-index: 1;
  background: white;
  padding: 15px 0 5px;
  box-shadow: 0px 3px 5px -2px #DDD;
}
.history {
  margin-top: 0;
}

.interval .title {
  margin: 0 0 7px 17px;
}
.version_view li {
  list-style-type: disc;
  margin-left: 17px;
}
.version_view .title {
  width: 340px;
  line-height: 18px;
}
.toggle_grouping:hover .collapse {
  border-left: 6px solid #777;
}
.toggle_grouping:hover .expand {
  border-top: 7px solid #777;
}
.toggle_grouping:hover {
  color: #777;
}
.interval header .delete {
  opacity: 1;
  top: 10px;
}
.visit.expanded .visits {
  max-height: 5000px;
  height: auto;
}
.visits .visits {
  height: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all .25s ease-in-out;
}
.visit.expanded .hide_visits {
  display: inline-block;
}
.visit.expanded .show_visits {
  display: none;
}
.visit .hide_visits {
  display: none;
}
.visit .show_visits {
  display: inline-block;
}
.visit .show_visits,
.visit .hide_visits {
  padding: 1px 3px;
}
.visit .show_visits:hover,
.visit .hide_visits:hover {
  background: #DDD;
  border-radius: 2px;
  color: #777;
}
.chrome-bootstrap .show_visits:hover .arrow {
  border-left-color: #777;
}
.chrome-bootstrap .hide_visits:hover .arrow {
  border-top-color: #777;
}
#coverup {
  position: absolute;
  top: 0;
  z-index: 2;
  background: #FFF;
  width: 70px;
  height:30px;
}

.visits_view .time {
  -webkit-transition: 150ms opacity;
  position: absolute;
  top: 5px;
  opacity: 1;
  right: 10px;
}
.visits_view .visit:hover .time {
  opacity: 0;
}
.visits_view .visit:hover .visit .time {
  opacity: 1;
}
.visits_view .visit:hover .visit:hover .time {
  opacity: 0;
}

.week_view .spinner,
.search_view .spinner {
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 4px;
  -webkit-transition: opacity .1s ease-in;
}
.week_view .count,
.search_view .count {
  opacity: 0;
  -webkit-transition: opacity .1s ease-in;
}
.week_view.loaded .count,
.search_view.loaded .count {
  opacity: 1;
}
.search_view {
  .spinner {
    opacity: 0;
  }
  &.loading .spinner {
    opacity: 1;
  }
}
.visit .description {
  background-repeat: no-repeat;
  background-size: 17px;
  padding: 0;
}
.visit dl dt {
  font-size: 100%;
  width: 655px;
}
.visit .location a {
  display: inline;
  color: #999;
  padding-right: 0;
}
.visit .location > .search_domain {
  background: #EEE;
  color: #888;
  padding: 1px 2px;
  border-radius: 3px;
  -webkit-margin-end: 2px;
  display: inline-block;
}
.visit .location {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.visit .location > .search_domain:hover {
  color: #15C;
}
.version_view .page {
  width:500px;
}

.credits_view .translators {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-top: 0;
}
.credits_view .translators li {
  padding:3px 0;
}
.credits_view .translators:first-child {
  -webkit-margin-end: 40px;
}
.credits_view .translators .language {
  display: inline-block;
}
.credits_view .content-area h3 {
  margin-top: 30px;
}
.credits_view .open_source li {
  display: inline;
  -webkit-margin-end: 10px;
}
.mailing_list_view .logo,
.credits_view .logo, {
  position: absolute;
  opacity: 0.4;
  top: -50px;
}
.prompt_view .action-area {
  z-index: 1;
  position: relative;
}
.prompt_view.loading button {
  opacity: 0;
}
.prompt_view.loading .spinner {
  opacity: 1;
}
.prompt_view .spinner {
  position: absolute;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  z-index: 0;
}

.prompt_view button {
  -webkit-transition: opacity .2s ease-in;
}
.prompt_view .spinner {
  -webkit-transition: opacity .2s ease-in .2s;
}
.mailing_list_view .page {
  width: 500px;
}
.mailing_list_view p {
  width: 300px;
}
.mailing_list_view #join_mailing_list {
  background: #F0F6FE;
  padding: 5px 10px;
}
.mailing_list_view #join_mailing_list:hover {
  background: #8AAAED;
  color: #FFF;
}
body .hidden {
  display: none !important;
}
